.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  /* border: 1px solid black;
  border-radius: 50%; */
  margin: 10px;
  color: rgb(91, 109, 166);
}

/* .navpanel {
  z-index: 2;
  background-color: white;
  width: 100vw;
} */
