body {
  background-color: #9cd9f0;
}

div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: cover;
  width: 70vw;
  border: solid black 2px;
}

.header {
  min-height: 70px;
  width: 100vw;
  background-color: rgb(91, 109, 166);
  margin-top: -20px;
  text-align: center;
  margin-left: -10px;
}
